@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');

body, p {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 26px;
}
.facebookshare p {
    font-size: 26px;
    line-height: 20px;
}
header {
    font-size: 16px;
    line-height: 16px;
}
.first-name, .last-name, .label, #choc .power-charge span, .btn {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: normal;
}
.ui-footer .ui-btn.btn-footer,
.sp-slide .btn {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}
#choc .power-charge span {
    font-size: 200%;
}

.goodies,
#credits p {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.label {
    font-size: 26px;
    line-height: 30px;
}
h2 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
}